<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Ethical Threads</title>
    <link rel="stylesheet" href="/static/css/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="ethical-threads full-width">
        <h2>Ethical Threads</h2>
        <h3>Sustainable Fashion Community</h3>
        <p>Join the conversation about sustainable fashion!</p>
        <a href="/ethical_threads" class="cta-button">Join the Discussion</a>
        <!-- Add Clothing button -->
        <a href="{{ url_for('add_clothing') }}" class="cta-button"
          >Add Clothing</a
        >
      </div>

      <div class="other-segment">
        <h3>Show Recommendations</h3>
        <!-- Content for recommendations -->
      </div>
    </div>
  </body>
</html>
