<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wardrobe Organizer - Home</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Welcome to Men's Wardrobe Organizer</h1>
        <p>Making styling sustainable and easy for organizing your clothes.</p>
        
        <div class="buttons">
            <a href="/login" class="btn">Login</a>
            <a href="#" class="btn">About</a>
        </div>
    </div>
    <script src="/static/js/script.js"></script>
</body>
</html>
